$base-login-background: #2A5082;
$base-background: #FFFFFF;
$base-selected-background: #ebf2f9;
$base-icon-color: #707070;
$base-color: #000;

$loader-background: #FFFFFF;
$loader-border-colour: #EEEEEE;
$loader-colour: #999999;

$form-button-colour: #FFFFFF;
$form-button-background: #59afe1;
$form-button-disabled-background: #F5F5F5;
$form-button-disabled-colour: #999999;
$form-input-background: #FFFFFF;
$form-input-error-colour: #d04437;

$home-border-colour: #F0F1F1;
$home-repo-background: #f5f5f5;
$home-repo-color: #999999;
$home-footer-background: #F0F1F1;
$home-footer-icon-background: #999999;
$home-nav-background: #14892c;
$home-nav-fail-background: #d04437;
$home-status-success-color: #14892C;
$home-status-fail-color: #D04437;
$home-color: #333333;

@import 'css/ui';
@import 'css/base';
@import 'css/loader';
@import 'css/forms';
@import 'css/login';
@import 'css/home';
